@import "tailwindcss";

:root {
  --primary: #D35400;
  --secondary: #502A2A;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-clash: 'Clash Display', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Clash Display', sans-serif;
}

html {
  scroll-behavior: smooth;
}
